.row > p{
    margin-right: 10px;
    width: 160px;
    font-size: 18px;
}
.row > button{
    font-size: 14px;
    margin-right: 10px;
    padding: 5px;
}
.row{
    margin-top: 5px;
    display: flex;
    height: 40px;
    align-items: center;
}